header{
    border: 10px solid black;
    /* float: left; */
    width: 100%;
}
html,body{
    font-family: serif;
    font-size: 20px;
    height: 100%;
    margin: 0;
}

.footer,
.push {
  height: 50px;
}

#navbar {
    overflow: hidden;
    background-color: #f7f7f7;
  }
#navbar p{
    float: left;
    display: inline-block;
    color: gray;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
  /* Navbar links */
#navbar a {
    float: right;
    display: block;
    color: gray;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  /* Page content */
 .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }

  .wrapper {
    min-height: 100%;
  
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;